.background {
  background-color: #E3E7D3;
}

.text-color {
  color: #25291C
}

.navbar-text {
  color: #E6E49F
}

.navbar-bg {
  background-color: #989C94;
}

.card-img {
  transition: transform 0.3s ease;
}

.card:hover .card-img {
  transform: scale(1.1);
}